/* =================================
   CSS Styles for Workshop 01
   ================================= */

/* TODO Task 2: Add your general styles here */

/* Reset and Base Styles */
html {
    min-height: 100svh;
    background-image: linear-gradient(to bottom, rgb(0, 238, 255), rgb(98, 25, 255), rgb(28, 28, 28));
}

body {
    /* Add body styles:  font-family, background-color, color, etc. */

    font-family: "Roboto", sans-serif;
    color: rgb(10, 10, 10);
    margin: 0;

}

/* TODO Task 2: Style your headings */
h1 {
    font-size: 2.5em;
    margin: auto;

}

/* TODO Task 3: Navigation Styles */

#main-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(28, 28, 28);
}

nav ul {
    /* Remove bullets and style the list */
    list-style-type: none;
    overflow: hidden;
}

nav li {
    /* Display items horizontally */
    display: inline-block;
    margin-right: 25px;


}

nav a {
    /* Style the links */
    text-decoration: none;
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 18px;
}

nav a:hover {
    /* Add hover effect */
    color: rgb(0, 238, 255);
}

/* Main Content Styles */
main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    border-width: 15px;
    border-color: black;
    background-image: linear-gradient(to bottom, rgb(250, 250, 250), rgb(245, 245, 245));
    border-radius: 15px;
    border: 1px solid rgb(0, 238, 255);
    box-shadow: 5px 5px 50px rgb(98, 25, 255);
}

#home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home img {
    border-radius: 15px;


}

#profilepic {
    margin: 25px;
}

#bio {
    margin: 25px;
}

/* TODO Task 4: Form Styles */
form {
    margin: 15px;
}

input,
textarea {
    /* Style form inputs */
    border: 1px solid rgb(0, 238, 255);
    width: 250px;
    padding: 5px;
    margin-top: 5px;
}

button,
input[type="submit"] {
    /* Style the submit button */
    margin-top: 15px;
    background-color: rgb(98, 25, 255);
    border: none;
    color: white;
    padding: 8px;
    font-size: 20px;
    box-shadow: 3px 3px 15px rgb(140, 0, 255);
    border-radius: 5px;
}

button:hover,
input[type="submit"]:hover {
    /* Add hover effect for button */
    background-color: rgb(81, 0, 255);

}


/* TODO Task 5: Media Queries for Responsive Design */
/* Tablet styles (optional) */
@media (max-width: 768px) {

    /* Add your tablet/mobile styles here */
    #main-nav a {
        font-size: 24px;
    }

    h1 {
        font-size: 2.6em;
    }

    h2 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.2em;
    }

    label,
    input,
    textarea {
        font-size: 1.2em;
    }

    button,
    input[type="submit"] {
        /* Style the submit button */
        margin-top: 15px;
        background-color: rgb(98, 25, 255);
        border: none;
        color: white;
        padding: 12px;
        font-size: 24px;
        box-shadow: 3px 3px 15px rgb(140, 0, 255);
        border-radius: 5px;
    }

}

/* Mobile styles */
@media (max-width: 480px) {

    /* Add your mobile-specific styles here */
    #main-nav a {
        font-size: 24px;
    }

    #home img {
        max-width: 100%;
        height: auto;
    }

    input,
    textarea {
        /* Style form inputs */
        max-width: 95%;
    }

    nav {
        margin-left: auto;
        margin-right: auto;
    }

    main {
        min-width: 80%;
        margin-top: 3em;
        margin-bottom: 3em;
    }


}